a:link, a:visited { color:#7777cc; text-decoration:none}
#Sel {color:#3333cc; font-weight:bolder; font-size:20px}
#bibTag {color:#3333cc; font-weight:bold; text-decoration:none}
Me {font-weight:bold}
paper {font-style:italic;}
#title {color:#3333cc}
